/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-night: #0f1513;
  --c-onyx: #181a1b;
  --c-whisteria: #bbabd8;
  --c-mimi-pink: #fdd7fc;
  --c-alice-blue: #dfeaee;

  --c-grey: rgb(173, 166, 155);
  --c-off-white: rgb(232, 230, 227);

  --c-dark-red: rgb(57, 0, 0);
  --c-medium-red: rgb(111, 0, 0);
  --c-bright-red: rgb(231, 75, 75);
}

:root {
  --color-background: var(--c-night);
  --color-background-soft: var(--c-onyx);

  --color-text-main: var(--c-off-white);
  --color-text-secondary: var(--c-grey);
}
